In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('data.csv')
df.head()

           x          y
0  48.955889  60.723602
1  44.687196  82.892504
2  60.297327  97.379897
3  45.618644  48.847153
4  38.816818  56.877213

In [3]:
x=df['x']
y=df['y']

In [4]:
x

0     48.955889
1     44.687196
2     60.297327
3     45.618644
4     38.816818
        ...
94    50.030174
95    49.239765
96    50.039576
97    48.149859
98    25.128485
Name: x, Length: 99, dtype: float64

In [5]:
y

0     60.723602
1     82.892504
2     97.379897
3     48.847153
4     56.877213
        ...
94    81.536991
95    72.111832
96    85.232007
97    66.224958
98    53.454394
Name: y, Length: 99, dtype: float64

# LR using Gradient Decent Optimizer

In [6]:
m=0  #coefficient
c=0  #intercept
l=0.0001  #learning rate
iterations=1000
n=int(len(x))

for i in range(iterations):
    y_pred=m*x+c
    derivatives_m=(-2/n)*sum(x*(y-y_pred))
    derivatives_c=(-2/n)*sum((y-y_pred))
    m=m-(l* derivatives_m)
    c=c-(l* derivatives_c)

In [7]:
m

1.4796491688881985

In [8]:
c

0.10148121497503648

# Prediction

In [9]:
x=float(input('Enter any x1='))

Enter any x1=60.297327

In [10]:
y=m*x+c

In [11]:
y

89.32037099670498

In [12]:
x

60.297327

In [13]:
y

89.32037099670498

In [15]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

In [16]:
lr.fit(df[['x']],df['y'])

LinearRegression()

In [17]:
lr.predict([[60.297327]])

array([87.5328145])