In [6]:
import pandas as pd
import numpy as np

In [7]:
df=pd.read_csv("name_age.csv")

In [8]:
df

    name   age       dob gender
0   Rita  23.0  20-02-97      f
1   Arun  29.0  01-07-91      m
2   Sita  14.0  07-07-06      f
3  Varun  21.0  01-05-99      m
4    Ram  32.0  07-11-88      m
5  Radha   NaN  06-09-97      f
6  Mohan  51.0  03-03-69      m
7   Devi  20.0  05-01-00      0
8  Nidhi  29.0  10-01-91      f